<section>
    <form action="/api/pets" method="POST" enctype="multipart/form-data">
        <label for="pet_name">Pet Name:</label>
        <input type="text" name="pet_name" />

        <label for="about_pet">About Pet:</label>
        <input type="text" name="about_pet" />

        <section class="sex_selection">
            <label for="male_option">Male</label>
            <input type="radio" name="sex" value="male" id="male_option">
            <label for="female_option">Female</label>
            <input type="radio" name="sex" value="female" id="female_option">
        </section>

        <select name="species" id="species_list"></select>

        <input type="file" name="pet_image" />
        <button type="submit">Submit</button>
    </form>
</section>