<!DOCTYPE html>
<html lang="en">
{{!-- TODO when confirming files sheets are connected suchas the CSS file, error message to create file --}}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- integrated css folder and bulma --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/my-pets-style.css">
</head>

<body>
  {{!-- .hero --}}
  <section class="hero">

    <nav class="hero-head ">
      <div class="column center">
        <p class="navbar-item is-size-1 has-text-black has-text-weight-bold">Welcome To Club Pet!</p>
      </div>
      {{!-- .hero end --}}

      {{!-- .hero head --}}
      <div class="column center">
        {{!--NAVBAR integrated handlebars with HTML attributes --}}
        <p class="navbar-item has-text-weight-bold">
          <a class="button is-primary navbar_btn" href="/">DASHBOARD</a>
        </p>
        {{#if loggedIn}}
        <p class="navbar-item has-text-weight-bold">
          <a class="button is-link navbar_btn" href="/my_pets/{{user_id}}">MY PETS</a>
        </p>
        <button class="button navbar_btn" onclick="logoutUser()">LOGOUT</button>
        {{else}}
        {{!-- <a href="/login">Login</a> --}}
        <p class="is-active"><a class="button navbar_btn" href="/login">Login</a></p>
        {{/if}}
      </div>
    </nav>
    {{!-- .hero head end--}}
  </section>
  {{!-- Centered body content --}}
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        {{{body}}}
      </div>
    </div>
  </div>
</body>

<script src="/js/logout.js"></script>

</html>