<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZOO</title>
  {{!--
  <link rel="stylesheet" type="text/css" href="/css/jass.css"> --}}
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Welcome to Club Pets</h1>
  </header>
  <nav>
    <a href="/">Dashboard</a>
<<<<<<< HEAD:view/main.handlebars
    <a href="/">Dashboard</a>
    <a href="/">Dashboard</a> 
=======
    {{#if loggedIn}}
    <a href="/">My Pets</a>
    <a href="/">Logout</a>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}

>>>>>>> c9d238c24f0e6ee81ce20968ce30e909310d2cd9:views/layouts/main.handlebars
  </nav>
  <main>
    <aside>
      <h2> The Pets and Their Owners!</h2>
    </aside>
    <div class="user">
      {{{body}}}
    </div>
  </main>
</body>

</html>