/* css file created when linking style.css file. Before created, when following link to confirm successful 
error message appeared stated no style.css file created. */


.center, .center-column, .top, .right, .bottom, .left {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
    flex-direction: column;
}
.top, .right, .bottom, .left{
    align-items: flex-start;
    justify-content: flex-end;
    align-items: flex-end;
    justify-content: flex-start;
}
.single-spaced, .single-spaced * {
    line-height: 1;
}
.hero {
    background: url(https://data.whicdn.com/images/346178640/original.png);

}
