<div class="column">
  <div class="notification is-warning">
    <h1 class="column center is-size-4 has-text-black">MEOW! Great You're Back...</h1>
    <div class="signUp has-text-black">
      {{!-- Login Form --}}
      <form onsubmit="loginUser()">
        <h1 class="title center">Login</h1>
        <section class="login_card">
          <div class="field">
            <label class="label">Email Address</label>
            <div class="control">
              <input class="input" type="text" name="email_login" id="email_login" />
            </div>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input class="input" type="password" name="password_login" id="password_login" />
            </div>
          </div>

          <div class="control">
            <button type="submit" class="button is-primary">Login</button>
          </div>
        </section>
      </form>
    </div>
  </div>
</div>
<div class="column">
  <div class="notification is-primary">
    <h1 class="column center is-size-4 has-text-black">WOOF! New Friend!?!</h1>
    <div class="user has-text-black">
      {{!-- Signup Form --}}
      <form onsubmit="signUpUser()">
        <h1 class="title center">Sign Up</h1>
        <section class="signup_card">
          <div class="field">
            <label class="label">Username</label>
            <div class="control">
              <input class="input" type="text" name="username_signup" id="username_signup" />
            </div>
          </div>

          <div class="field">
            <label class="label">Email Address</label>
            <div class="control">
              <input class="input" type="text" name="email_signup" id="email_signup" />
            </div>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input class="input" type="password" name="password_signup" id="password_signup" />
            </div>
          </div>

          <div class="control">
            <button type="submit" class="button is-warning">Sign Up</button>
          </div>
        </section>
      </form>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>