{{!-- pet handling --}}
<section class="pet">
    {{!-- <img src="" alt=""> pet image --}}
    {{#each pets as |pet| }}
    <div class="pet-details">
        <h3>My Name is {{pet.pet_name}} </h3>
        <p> About Me: {{pet.about_pet}} </p>
    </div>
    {{/each}}

    {{#if user_is_owner}}
    {{> pet-form}}
    {{/if}}
</section>

{{!-- Only the owner user needs species data when adding a pet, otherwise not necessary --}}
{{#if user_is_owner}}
<script src="/js/getSpecies.js"></script>
{{/if}}