{{!-- pet handling --}}
<section class="pet">
    {{!-- <img src="" alt=""> pet image --}}
    {{#each pets as |pet| }}
    <div class="pet-details">
        <h3>My Name is {{pet.name}} </h3>
        <p> About Me: {{pet.about_pet}} </p>
    </div>
    {{/each}}

    {{> pet-form}}
</section>