{{!-- user handling --}}

<section class="container">
    {{#each users as |user| }}
    <h3 class="username"> {{user.username}}</h3>
    <section class="flex-row justify-center">
        <a href="/user/{{id}}">
            <header>{{username}}</header>
        </a>
    </section>
    {{/each}}
</section>