{{!-- user handling --}}
<section class="container">
    {{#each users as |user| }}
    <a href="/my_pets/{{user.id}}">
        <div class="tile is-ancestor">
            <div class="title is-8 is-vertical is-parent">
                <div class="title is-child box">
                    <article class="tile notification is-primary has-text-info">
                        <p>ID: {{user.id}} / {{user.username}}</p>
                        <p>/ owns {{user.pets.length}} pets/ </p>
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </a>
    {{/each}}
</section>