
.center, .center-column, .top, .right, .bottom, .left {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
    flex-direction: column;
}
.top, .right, .bottom, .left{
    align-items: flex-start;
    justify-content: flex-end;
    align-items: flex-end;
    justify-content: flex-start;
}
.single-spaced, .single-spaced * {
    line-height: 1;
}
body {
    background: url(https://data.whicdn.com/images/346178640/original.png);
}

.navbar_btn:active 
{
    transform: scale(0.975);
    box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
}
