<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZOO/title>
  {{!-- <link rel="stylesheet" type="text/css" href="/css/jass.css"> --}}
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Welcome to Club Pets</h1>
  </header>
  <nav>
    <a href="/">Dashboard</a>
    {{!-- <a href="/">Dashboard</a>
    <a href="/">Dashboard</a> *TBD nav link names  --}}
  </nav>
  <main>
    <aside>
      <h2> The Pets and Their Owners!</h2>
    </aside>
    <div class="pet">
      {{{body}}}
    </div>
    <div class="user">
      {{{body}}}
    </div>
  </main>
</body>

</html>