{{!-- pet handling --}}
<section class="pet">
    {{!-- <img src="" alt=""> pet image --}}
    <div class="pet-details">
     <h3>My Name is {{pet.name}} </h3>
     <p> About Me: {{pet.about_pet}} </p>
     <p> Species:{{pet.Species}}</p>
    </div>
</section>