{{!-- user handling --}}

<section class="container">
    <h3 class = "username">  {{user.username}}</h3>
    {{#each user.username as |username| }}
    <section class="flex-row justify-center">
        <a href="/user/{{id}}">
        <header>{{username}}</header>
        </a>
    </section>
</section>




